{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form class="parameters" method="post">
        <button type="submit" disabled style="display: none" aria-hidden="true"></button>
        <div class="entries">
        {% for entry in parameters %}
            {% set label = entry['label'] %}
            <div class="entry">
                <label class="entry-label">{{ label }}</label>
                <input class="entry-input" id="{{ label }}-nl" name="{{ label }}" type="text" value="{{ entry['value_nl'] }}">
                <input class="entry-input" id="{{ label }}-en" name="{{ label }}" type="text" value="{{ entry['value_en'] }}">
                <button type="button" onclick="removeItem(this)">x</button>
            </div>
        {% endfor %}
        </div>
        <div><input type="submit" value="Save"></div>
    </form>
    <input id="add-item" type="text" placeholder="New parameter...">
    <button onclick="addItem()">+</button>
{% endblock %}

{% block script %}
<script>
    var elems = Array.from(document.querySelectorAll(".entry-input"));

    elems.forEach(function(el, i, array) {
        el.addEventListener("keyup", function(event) {
            console.log(i)
            // Validate key is a number
            if (event.key !== "Enter") {
                console.log('duely noted')
                return;
            }

            var nextInput = i + 1;
            if (nextInput < array.length) {
                array[nextInput].focus();
            }
        });
    });


    // add listeners
    // function handleEnter(event) {
    //     console.log('i am indeed here')
    //     if (event.key === "Enter") {
    //         event.preventDefault()
    //         console.log('did it!')
    //         event.returnValue = false
    //     }
    // }

    // function addListeners() {
    //     let paramFields = document.querySelectorAll(".entry-input")
    //     Array.from(paramFields, el => el.addEventListener("keyup", handleEnter))
    // }

    // enter triggers input add-item
    const inputItem = document.querySelector("#add-item")
    inputItem.addEventListener("keyup", function(event) {
        if (event.key === "Enter") {
            addItem()
        }
    })

    function addItem () {
        // get all parameters
        let params = Array.from(
            document.querySelectorAll('.entry-label')).map(function (element) {
                return element.innerHTML;
            });

        // get new parameter name
        let newParam = document.querySelector("#add-item").value.toLowerCase()

        // test if value is not empty string or already exists in parameters
        if (newParam !== '' && !params.includes(newParam)) {
            document.querySelector(".entries").insertAdjacentHTML(
                'beforeend',
                `<div class="entry">
                    <label class="entry-label">${newParam}</label>
                    <input class="entry-input" id="${newParam}-nl" name="${newParam}" type="text">
                    <input class="entry-input" id="${newParam}-en" name="${newParam}" type="text">
                    <button type="button" onclick="removeItem(this)">x</button>
                </div>`
            )
            // addListeners()
        }
        // empty input value
        document.querySelector("#add-item").value = ''
    }

    function removeItem (input) {
        input.parentNode.remove()
    }

    // addListeners()

</script>
{% endblock %}
